<div class="form-seach mt-4">
    <h1>FORM TÌM KIẾM</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tìm Kiếm</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="Nhập từ khóa">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>